/* remember box-sizing, border-box tells brower to accourt for any border and padding, content-box gives you the default behavior */
* { 
    box-sizing: border-box;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
    background-image: url(./images/augustine-wong-3Om4DHcaAc0-unsplash.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.35rem;
}

h4 {
    font-size: 1rem;
}


header {
    position: relative;
    background-color: rgba(43, 202, 226, 0.428);
    /* background color above to visualize box area */
}

#logo-design {
    /* background-color: rgba(43, 202, 226, 0.428);
    background color above to visualize box area */
}

#logo {
    width: 35%;
    max-width: 45%;
    max-height: auto;
    align-items: center;
    padding-top: 1rem;
    margin: 0;
    z-index: 1;
}

/* nav bar */
nav {
    /* background-color: rgba(226, 43, 43, 0.428);
    background color above to visualize box area */
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin: 0.5rem auto;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li:not(:last-child)::after {
    display: inline-block;
    margin: 0.5rem;
    content: ' ';
}

a:link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
    
a:hover {
    color: rgba(0, 0, 0, 0.729);
}
    
a:visited {
    color: rgb(0, 0, 0);
}

/* about me */
#about-me {
    background-color: rgba(137, 43, 226, 0.428);
    /* background color above to visualize box area */
}

.about-container {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0.5rem auto;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
}

.my-photo-container {
    margin: 0.25rem;
}

#my-photo {
    object-fit: cover;
    object-position: bottom;
    width: 18rem;
    height: 18rem;
}

.bio-container {
    margin: auto 0.25rem;
}

/* projects section */
#projects {
    background-color: rgba(43, 226, 195, 0.777);
    /* background color above to visualize box area */
    margin: 0.5rem auto;
}


.projects-container {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.project-image {
    width: 20rem;
    height: 12.5rem;
    object-fit: cover;
    object-position: center;
}

/* skill section */
#skills {
    background-color: rgba(220, 226, 43, 0.428);
    /* background color above to visualize box area */
    margin: 0.5rem auto;
}

.skills-container {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.skills {
    max-width: 4rem;
    max-height: 4rem;
    margin: 0.8rem;
}

.skill-logo {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    object-position: center;
}

/* contact section */
#contact {
    background-color: rgba(226, 104, 43, 0.428);
    /* background color above to visualize box area */
    margin: 0.5rem auto;
}

/* copywrite section */
#copywrite {
    background-color: rgba(43, 46, 226, 0.428);
    /* background color above to visualize box area */
    margin: 0.5rem auto;
}

.copywrite-text {
    font-size: 0.5rem;
}